rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // User Avatars: Anyone can read, but only the user can write to their own avatar folder.
    match /avatars/{userId}/{allPaths=**} {
        allow read;
        allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Team Images (Avatars and Banners): Anyone can read, but only the team founder can write.
    // This rule checks the 'founder' field in the corresponding Firestore 'teams' document.
    match /teams/{teamId}/{imageType}/{allPaths=**} where imageType in ['avatar', 'banner'] {
      allow read;
      allow write: if request.auth != null && get(/databases/(default)/documents/teams/$(teamId)).data.founder == request.auth.uid;
    }
  }
}
